# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
City_data= pd.read_csv("City_Data.csv")
City_data.head(10)

,Unnamed: 0,City,Latitude,Longitude,ID,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,0,bengkulu,-3.8004,102.2655,1649150.0,83.66,64.0,49.0,6.98
1,1,ushuaia,-54.8000,-68.3000,3833367.0,41.00,93.0,75.0,9.22
2,2,ilulissat,69.2167,-51.1000,3423146.0,28.40,69.0,17.0,3.44
3,3,nowy dwor gdanski,54.2131,19.1177,3090502.0,40.42,75.0,20.0,16.11
4,4,tommot,58.9564,126.2925,2015179.0,32.43,82.0,90.0,15.64
5,5,airai,-8.9266,125.4092,1651810.0,69.35,71.0,44.0,1.97
6,6,vaini,-21.2000,-175.2000,4032243.0,78.80,100.0,40.0,2.30
7,7,namibe,-15.1961,12.1522,3347019.0,80.35,74.0,48.0,1.36
8,8,mataura,-46.1927,168.8643,6201424.0,52.00,94.0,100.0,3.00
9,9,sharjah,25.3573,55.4033,292672.0,88.27,21.0,0.0,2.30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
locations= City_data[['Latitude', 'Longitude']]
humidity= City_data['Humidity'].astype(float)

In [16]:
humidity

0      64.0
1      93.0
2      69.0
3      75.0
4      82.0
       ...
626    73.0
627    99.0
628    23.0
629    93.0
630    36.0
Name: Humidity, Length: 631, dtype: float64

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
City_data.dropna()

,Unnamed: 0,City,Latitude,Longitude,ID,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,0,bengkulu,-3.8004,102.2655,1649150.0,83.66,64.0,49.0,6.98
1,1,ushuaia,-54.8000,-68.3000,3833367.0,41.00,93.0,75.0,9.22
2,2,ilulissat,69.2167,-51.1000,3423146.0,28.40,69.0,17.0,3.44
3,3,nowy dwor gdanski,54.2131,19.1177,3090502.0,40.42,75.0,20.0,16.11
4,4,tommot,58.9564,126.2925,2015179.0,32.43,82.0,90.0,15.64
...,...,...,...,...,...,...,...,...,...
626,626,olinda,-8.0089,-34.8553,3393536.0,78.80,73.0,75.0,2.30
627,627,staryy nadym,65.6118,72.6842,1490918.0,34.72,99.0,73.0,18.05
628,628,yerofey pavlovich,53.9667,121.9667,2012938.0,39.78,23.0,30.0,8.25
629,629,carnoustie,56.5014,-2.7091,2653704.0,37.69,93.0,0.0,5.75
630,630,pampierstad,-27.7832,24.6877,966380.0,64.62,36.0,14.0,3.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure